<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mask - By Close</title>
</head>

<body>
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td width="100" style="text-align:center;">
            <a href="https://closecheckout.com"><img style="width:180px" src="https://i.imgur.com/oBqCHly.png" alt="Close Logo"/></a>
        </td>
    </tr>
    <tr>
        <td style="padding:30px;border: 1px solid lightgray; border-radius:6px">
            <p>{{{message}}}</p>
            <br />
           <p>Close Team</p>
            <a href="https://closecheckout.com"><img style="width:80px" src="https://i.imgur.com/oBqCHly.png" alt="Close Logo"/></a>
        </td>
    </tr>
    <tr>
        <td width="100" style="background:#faf9fa;padding:15px;text-align:center;">
            <p style="color:#aaaaaa;font-size:10px;font-family:sans-serif;"><a style="text-decoration:none" href="#"><span style="color:#aaaaaa">Privacy Policy</span></a> | <a style="text-decoration:none" href="#"><span style="color:#aaaaaa">Terms of Service</span></a></p>
            <p style="color:#aaaaaa;font-size:10px;font-family:sans-serif;">© 2020 <a href="https://closecheckout.com"><span style="color:#aaaaaa">Close</span></a>. All Rights Reserved.</p>
        </td>
    </tr>
  </table>
</body>

</html>